<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Original Flappy Bird -JavaScript</title>
    <link href="https://fonts.googleapis.com/css?family=Teko:700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bird.css') }}">
    <style>        
        canvas{
            border: 1px solid #000;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <button><a href="/games">Games</a></button>
    <canvas id="bird" width="320" height="480"></canvas>

    <script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
    <script src="game.js"></script>
</body>
</html> -->
